.board-details {
    overflow: hidden;
    height: 100%;

    .group-container {
        flex: 1;
        overflow-x: auto;
    }

    .add-group {
        height: fit-content;
        cursor: pointer;
        background-color: rgba(211, 211, 211, 0.35);

        &:hover {
            background-color: rgba(211, 211, 211, 0.5);
        }
    }

    .chosen {
        box-shadow: none;
    }

    .window {
        width: 100vw;
        height: 100vh;
    }
}