.board-details {
    background: url('../assets/imgs/bcg/4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 100px 0 0;
    overflow-y: hidden;
    height: 100vh;

    .add-group {
        height: fit-content;
        cursor: pointer;
        background-color: rgba(211, 211, 211, 0.35);

        &:hover {
            background-color: rgba(211, 211, 211, 0.5);
        }
    }

    .chosen {
        box-shadow: none;
    }
}