.card-details {
    z-index: 3;
    position: absolute;
    width: 800px;
    height: 800px;
    top: calc(50% - 400px);
    right: calc(50% - 400px);
    // background-color: rgb(243, 243, 243);
    background-color: #F4F5F7;
    border-radius: 10px;
    h2 {
        color: #172b4d;
        font-weight: 700;
        font-size: 18px;
        text-transform: capitalize;
    }
    h3 {
        text-transform: uppercase;
        font-size: 14px;
        color: #5e6c84;
        font-weight: 700;
    }
    .cancel-btn {
        align-self: end;
        border-radius: 50%;
        padding: 15px;
        font-size: 20px;
        background-color: inherit;
    }
    .card-info {
        flex-grow: 1;
        padding-inline-start: 16px;
        padding-inline-end: 8px;
        padding-block-end: 8px;
        .title {
            color: #172b4d;
            font-size: 20px;
        }
        .card-members {
            text-transform: uppercase;
            .add-member {
                cursor: pointer;
                span {
                    font-size: 20px;
                }
            }
        }
    }
    .card-header {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 80px;
        justify-content: flex-end;
        margin-block-end: 8px;
    }
    .add-to-card>*:not(:first-child) {
        margin-inline-start: 15px;
        margin-block-end: 10px;
    }
    .due-date div:first-child {
        text-transform: uppercase;
    }
    .btns {
        position: absolute;
        width: 100%;
        bottom: 10px;
        justify-content: space-evenly;
        >* {
            font-size: 1.3em;
        }
    }
    .actions {
        max-width: 168px;
        padding-inline-start: 8px;
        padding-inline-end: 16px;
        padding-block-end: 8px;
        button {
            color: #172b4d;
            text-align: start;
            background-color: rgba(214, 214, 214, 0.5);
            background-color: rgba(9, 30, 66, .04);
            width: 100%;
            padding: 8px 12px;
            border-radius: 2px;
            margin-block-end: 8px;
            box-shadow: unset;
            &:hover {
                background-color: rgba(214, 214, 214, 0.8);
                background-color: rgba(9, 30, 66, .08);
            }
        }
    }
    input,
    textarea {
        font-size: 1.5em;
        padding: 5px 10px;
        border: none;
        &.title {
            background-color: transparent;
        }
        &.desc {
            background-color: rgba(255, 255, 255, 0.7);
            background-color: #EAECF0;
            font-size: 14px;
            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
            }
        }
    }
    .upload {
        display: none;
    }
    .upload-btn {
        width: 100%;
        cursor: pointer;
    }
    .attachments {
        word-wrap: break-word;
        display: block;
        width: 100%;
        .attachment-card {
            img {
                width: 150px;
            }
        }
    }
    .color-picker {
        position: absolute;
        opacity: 0;
    }
}