.card-details {
    z-index: 3;
    position: absolute;
    width: 800px;
    height: 800px;
    top: calc(50% - 400px);
    right: calc(50% - 400px);
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    .cancel-btn {
        align-self: end;
        border-radius: 50%;
        padding: 15px;
        font-size: 20px;
        background-color: inherit;
    }
    .card-info {
        padding: 20px;
        padding-inline-end: 100px;
        .card-members {
            text-transform: uppercase;
            .add-member {
                cursor: pointer;
                span {
                    font-size: 20px;
                }
            }
        }
    }
    .card-header {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 80px;
        justify-content: flex-end;
    }
    .add-to-card>* {
        margin-inline-start: 15px;
        margin-block-end: 10px;
    }
    .due-date div:first-child {
        text-transform: uppercase;
    }
    .btns {
        position: absolute;
        width: 100%;
        bottom: 10px;
        justify-content: space-evenly;
        >* {
            font-size: 1.3em;
        }
    }
    .actions {
        position: absolute;
        right: 10px;
        top: 230px;
        width: 150px;
        button {
            text-align: start;
            background-color: rgba(214, 214, 214, 0.5);
            width: 100%;
            padding: 8px 12px;
            margin: 5px;
            border-radius: 2px;
            box-shadow: unset;
            &:hover {
                background-color: rgba(214, 214, 214, 0.8);
            }
        }
    }
    input,
    textarea {
        font-size: 1.5em;
        padding: 5px 10px;
        border: none;
        &.title {
            background-color: transparent;
        }
        &.desc {
            background-color: rgba(255, 255, 255, 0.7);
        }
    }
    .upload {
        display: none;
    }
    .upload-btn {
        width: 100%;
        cursor: pointer;
    }
    .attachments {
        word-wrap: break-word;
        display: block;
        width: 100%;
        .attachment-card {
            img {
                width: 150px;
            }
        }
    }
    .color-picker {
        position: absolute;
        opacity: 0;
    }
}