.card-details {
    z-index: 3;
    position: absolute;
    width: 1050px;
    height: 850px;
    top: calc(50% - 425px);
    right: calc(50% - 525px);
    background-color: #F4F5F7;
    border-radius: 10px;

    h2 {
        color: #172b4d;
        text-transform: capitalize;
    }

    h3 {
        margin-inline-start: 2px;
        text-transform: uppercase;
        color: #5e6c84;
    }

    .cancel-btn {
        align-self: end;
        border-radius: 50%;
        padding: 15px;
        font-size: 20px;
        background-color: inherit;
    }

    .card-info {
        max-width: 850px;
        flex-grow: 1;
        padding-inline-start: 16px;
        padding-inline-end: 8px;
        padding-block-end: 3px;

        .pure-info {
            margin-block-end: 10px;

            .title {
                color: #172b4d;
                font-size: 24px;
                margin-block-end: 7px;
            }

            .in-list {
                font-size: 1.2em;
                margin-block-end: 10px;

                span {
                    color: #5e6c84;
                }
            }
        }

        .add-to-card {
            padding: 5px;
            height: 165px;
            padding-inline-start: 30px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 500;

            .members-labels {
                width: 100%;
                margin-block-end: 15px;

                h3 {
                    margin-block-start: 5px;
                    margin-block-end: 5px;
                }

                .card-members {
                    text-transform: uppercase;
                    margin-inline-end: 30px;

                    .add-member {
                        cursor: pointer;

                        span {
                            font-size: 20px;
                        }
                    }
                }

                .label-marks {
                    .label-container {
                        font-weight: 500;
                        font-size: 20px;
                        font-weight: 300;
                        // margin: 2px 8px;
                        color: white;

                        .label {
                            border-radius: 3px;
                            margin: 2px;
                            height: 40px;
                            min-width: 50px;
                            display: block;
                            padding: 0 10px;
                        }
                    }
                }
            }

            .due-date {
                h3 {
                    margin-block-end: 7px;
                }
                .due-date-info {
                    margin: 7px 0;

                    .due-date-local-time {
                        font-size: 1.2em;
                    }

                    .due-date-checkbox {
                        margin-inline-end: 10px;
                    }
                }
            }

            .description {
                i {
                    margin-inline-end: 10px;

                    button {
                        margin-block-end: 5px;
                    }
                }
            }

            .checklist-group {
                height: 250px;
                overflow-y: scroll;
                border: 1px solid black;
            }
        }
    }

    .card-header {
        border-radius: 10px 10px 0 0;
        width: 100%;
        height: 80px;
        justify-content: flex-end;
        margin-block-end: 8px;
    }

    .add-to-card>*:not(:first-child) {
        margin-block-end: 10px;
    }

    .due-date div:first-child {
        text-transform: uppercase;
    }

    .btns {
        position: absolute;
        width: 100%;
        bottom: 10px;
        justify-content: space-evenly;

        >* {
            font-size: 1.3em;
        }
    }

    .actions {
        width: 168px;
        padding-inline-start: 8px;
        padding-inline-end: 16px;
        padding-block-end: 8px;

        button {
            color: #172b4d;
            text-align: start;
            background-color: rgba(214, 214, 214, 0.5);
            background-color: rgba(9, 30, 66, .04);
            width: 100%;
            padding: 8px 12px;
            border-radius: 2px;
            margin-block-end: 8px;
            box-shadow: unset;

            &:hover {
                background-color: rgba(214, 214, 214, 0.8);
                background-color: rgba(9, 30, 66, .08);
            }
        }
    }

    input,
    textarea {
        font-size: 1.5em;
        padding: 5px 10px;
        border: none;

        &.title {
            background-color: transparent;
        }

        &.desc {
            background-color: rgba(255, 255, 255, 0.7);
            background-color: #EAECF0;
            font-size: 14px;

            &:focus {
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                outline: none;
            }
        }
    }

    .upload {
        display: none;
    }

    .upload-btn {
        width: 100%;
        cursor: pointer;
    }

    .attachments {
        word-wrap: break-word;
        display: block;
        width: 100%;

        .attachment-card {
            img {
                width: 150px;
                border-radius: 2px;
            }
        }
    }

    .color-picker {
        position: absolute;
        opacity: 0;
    }
}