.home-page {
    background-color: white;
    h1 {
        text-transform: capitalize;
        font-weight: 400;
        color: #362c2c;
    }
    .boards-btn {
        font-size: 1.8rem;
        padding: 0.4em 1.6em;
        margin-top: 40px;
        display: block;
        width: -webkit-fit-content;
        width: 350px;
        box-shadow: 0 0 2px 1px black, inset 0 0 1px 0px black;
        box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.25);
        text-align: center;
        right: calc(50% - 200px);
        background: #455a64;
        border-radius: 36px;
        text-transform: uppercase;
        font-family: 'Segoe UI', Helvetica, mont, Calibri, sans-serif;
        color: #efefef;
        font-weight: 600;
        &:hover {
            box-shadow: 0 0 4px 0 black, inset 0 0 2px 0 black;
        }
    }
    .main-container {
        max-width: 1200px;
        margin: 0 auto;
        h2 {
            text-transform: uppercase;
            font-size: 1.875em;
            -webkit-margin-after: 20px;
            margin-block-end: 20px;
            align-self: flex-start;
            color: #455a64;
            font-weight: 700;
            width: 450px;
        }
        p {
            font-size: em(18px);
            color: #455a64;
        }
        .home-page-card {
            margin-block-start: 80px;
            .art {
                align-self: center;
            }
            &:nth-child(2) {
                margin-block-start: 70px;
            }
            .img {
                max-width: 500px;
            }
            div {
                &:first-child {
                    padding-inline-start: 40px;
                    padding-inline-end: 40px;
                }
                &:last-child {
                    padding-inline-start: 40px;
                    padding-inline-end: 40px;
                }
            }
        }
    }
    @media (max-width:850px) {
        .home-page-card {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                text-align: center;
                width: 100%;
            }
            p {
                text-align: center;
            }
            .img {
                order: 1;
            }
        }
    }
}