.home-page {
    .boards-btn {
        font-size: 1.8rem;
        padding: 0.4em 3.5em;
        display: block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        margin: 20px auto;
        box-shadow: 0 0 2px 1px black, inset 0 0 1px 0px black;
        box-shadow: 0 10px 40px -10px rgba(0, 0, 0, .25);
        position: absolute;
        z-index: 100;
        top: 700px;
        right: 44%;
        background: #455a64;
        /* background: #4E7592; */
        /* background: #e8505b; */
        border-radius: 3px;
        text-transform: uppercase;
        font-family: inherit;
        color: #efefef;
        &:hover {
            box-shadow: 0 0 4px 0 black, inset 0 0 2px 0 black;
        }
    }
    .main-container {
        max-width: 900px;
        margin: 0 auto;
        h2 {
            text-transform: uppercase;
            font-size: em(30px);
            margin-block-end: 20px;
        }
        p {
            font-size: em(18px);
        }
        .home-page-card {
            margin-block-start: 100px;
            &:first-child {
                margin-block-start: 180px;
            }
            article {
                &:nth-child(even) {
                    padding-inline-start: 20px;
                }
                &:nth-child(odd) {
                    padding-inline-end: 20px;
                }
            }
        }
    }
}