// @font-face {
//     font-family: Montserrat;
//     src: url(~@/assets/fonts/Montserrat/Montserrat-Regular.ttf);
// }
// @font-face {
//     font-family: Opensans;
//     src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
// }
// @font-face {
//     font-family: GreatVibes;
//     src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
// }
@font-face {
    font-family: Roboto;
    src: url(~@/assets/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: mont;
    src: url(~@/assets/font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: segoe;
    src: url(~@/assets/font/Segoe/Segoe-UI.ttf);
}

@font-face {
    font-family: segoe-bold;
    src: url(~@/assets/font/Segoe/Segoe-UI-Bold.ttf);
}