@font-face {
    font-family: Roboto;
    src: url(~@/assets/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: mont;
    src: url(~@/assets/font/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: segoe;
    src: url(~@/assets/font/Segoe/Segoe-UI.ttf);
}

@font-face {
    font-family: segoe-bold;
    src: url(~@/assets/font/Segoe/Segoe-UI-Bold.ttf);
}