// COLOR PALETTE

$clr1: #53a5ca;
$clr2: #2883A7;
$clr3: #001832;
$clr4: #fefefe;
$clr5: #003452;

// LAYOUT BREAKPOINTS

$break-narrow: 500px;
$break-normal: 700px;
$break-wide: 960px;


$colors: tomato,
rosybrown,
royalblue,
sandybrown,
violet,
yellow,
white,
plum,
mediumblue,
black,
darkred,
silver;