.board-header {
    position: fixed;
    width: 100vw;
    top: 50px;
    height: 50px;
    box-shadow: 0 0 2px 0 black;
    padding: 5px 10px;
    align-items: center;

    >*:not(button) {
        color: #fefefe;
    }

    .board-members {
        align-items: center;
    }

    input {
        font-size: 1.6rem;
        border: none;
        outline: none;
        background-color: transparent;

        &:focus {
            box-shadow: 0 1px 0 0 black;
        }
    }
}