.board-header {
    width: 100vw;
    height: 50px;
    padding: 0 20px;
    align-items: center;
    z-index: 1;
    display: flex;
    font-size: 1rem;
    >* {
        color: #fefefe;
    }
    .header-container {
        flex: 1;
        .title {
            text-align: center;
            height: 32px;
            // align-self: center;
            color: inherit;
            font-size: em(20px);
            font-family: 'segoe-bold';
            background-color: transparent;
            border: none;
            outline: none;
            width: fit-content;
            padding: 0px 12px;
            // margin-inline-end: 10px;
            cursor: pointer;
            border-radius: 8px;
            &:hover,
            &:focus {
                background-color: hsla(0, 0%, 100%, .32);
                // color: rgb(10, 10, 10)
            }
        }
        .privacy {
            width: 100px;
            height: 100%;
            input {
                line-height: 1.6;
                height: unset;
                text-align: center;
                padding: 10px;
                font-size: 1.5em;
                color: #fefefe;
                background-color: transparent;
                border: none;
                outline: none;
            }
            .el-input__suffix {
                display: none;
            }
        }
        .seperator {
            // float: left;
            border-left: 1px solid rgba(255, 255, 255, 0.36);
            margin: 18px -10px;
            border-left: 1px solid hsla(0, 0%, 100%, .24);
            height: 16px;
            margin: 8px 8px 12px 4px;
        }
        .board-members {
            margin-inline-start: 25px;
            align-items: center;
            .member {
                margin: -4px;
                border-radius: 50%;
                box-shadow: 0 0 2px 0.5px rgba(255, 255, 255, 0.6);
                &:hover {
                    z-index: 1;
                }
            }
            .add-users {
                color: #000;
                position: absolute;
                background-color: whitesmoke;
                top: 50px;
                right: 150px;
                padding: 15px;
            }
            li {
                justify-content: space-between;
            }
            .add-btn {
                cursor: pointer;
                margin: 10px;
                width: 35px;
                height: 35px;
                background-color: hsla(0, 0%, 100%, .24);
                border-radius: 50%;
            }
        }
        .board-user {
            span {
                cursor: pointer;
            }
        }
    }
    .menu-btn {
        width: fit-content;
        line-height: 1.8;
        justify-self: flex-end;
        background-color: hsla(0, 0%, 100%, .24);
        padding: 3px 10px;
        border-radius: 5px;
        margin: 0 5px;
        font-size: rem(14px);
        right: 0;
        position: relative;
        &:hover {
            background-color: hsla(0, 0%, 100%, .32);
        }
    }
}