.board-menu {
    position: absolute;
    width: 339px;
    height: calc(100vh - 50px);
    right: 0;
    top: 50px;
    z-index: 2;
    background-color: #f4f5f7;
    box-shadow: 0 12px 24px -6px rgba(9, 30, 66, .25), 0 0 0 1px rgba(9, 30, 66, .08);
    text-align: center;
    font-size: 1rem;
    color: #172b4dc7;
    text-align: start;

    .board-menu-header {
        text-align: center;
        font-size: 1em;
        padding: 0 6px 0 12px;

        h3 {
            font-weight: 600;
            margin: 14px 32px;
        }
    }

    .menu-header-divider {
        margin: 0;
    }

    .board-menu-container {
        flex: 1 1 auto;
        overflow: hidden;
        // overflow-y: auto;
        padding: 12px 6px 12px 12px;
        width: 100%;
        height: 100%;
    }

    .board-menu-nav-item {
        border-radius: 3px;
        display: block;
        font-weight: 600;
        line-height: 20px;
        text-decoration: none;
        padding: 6px 6px 6px 40px;
        position: relative;
        cursor: pointer;

        &:hover {
            background-color: rgba(9, 30, 66, .08);
        }

        .icon {
            height: 20px;
            line-height: 20px;
            width: 20px;
            position: absolute;
            top: 6.5px;
            left: 12px;
        }
    }

    hr {
        background-color: rgba(9, 30, 66, .13);
        border: 0;
        margin: 16px 0;
        padding: 0.6px;
        width: 100%;
    }

    .menu-section-header {
        border-radius: 3px;
        display: block;
        line-height: 20px;
        padding: 6px 6px 6px 35px;
        position: relative;
        text-decoration: none;

        .icon {
            line-height: 20px;
            position: absolute;
            top: 6px;
            left: 12px;
        }
    }

    .filter {
        input {
            border: 0;
            box-shadow: inset 0 0 0 2px #dfe1e6;
            box-sizing: border-box;
            -webkit-appearance: none;
            border-radius: 3px;
            display: block;
            line-height: 20px;
            margin-bottom: 0;
            padding: 8px 12px;
            background: #fafbfc;
            width: 100%;
        }

        h3 {
            cursor: pointer;
            width: fit-content;
            margin: 0 auto;
        }

        .label {
            cursor: pointer;
            width: 300px;
            height: 40px;
            margin: 10px 0;
            border-radius: 30px;
        }
    }

    .btn {
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        top: 12px;
        height: 32px;
        width: 32px;

        &.close-btn {
            right: 6px;
        }

        &.back-btn {
            left: 5px;
        }
    }


    .activity {
        overflow-y: auto;
        margin-bottom: 50px;
    }

    .activity-preview {
        font-size: em(14, 16);
        position: relative;
        margin-left: 40px;
        padding: 8px 0;
        line-height: 20px;

        .desc {
            position: relative;

            .user {
                font-weight: 600;
            }

            .card {
                text-decoration: underline;
                cursor: pointer;
            }

        }

        .avatar {
            height: 32px;
            left: -40px;
            position: absolute;
            top: 8px;
            width: 32px;
        }

        .time {
            font-size: em(12, 14);
            color: #55637d;
        }
    }


    .bg-picker {
        .select {
            background-color: #dfe1e6;
            background-size: cover;
            border-radius: 8px;
            height: 96px;
            margin: 8px;
            width: 100%;
            cursor: pointer;

            &.color {
                background-image: url(https://a.trellocdn.com/prgb/dist/images/colors@2x.864f4df15d825e89e199.jpg);
            }
            &.photo {
                background-image: url(https://a.trellocdn.com/prgb/dist/images/photos-thumbnail@3x.48948499e309aef794d7.jpg);
            }
        }

        .background {
            padding-top: 10px;
            overflow-y: auto;

            img,
            .bgc {
                height: 100px;
                width: 150px;
                object-fit: cover;
                margin: 5px;
                cursor: pointer;
            }
        }

    }

    .bgc {
        @each $bgc in $bgcs {
            $i: index($bgcs, $bgc);

            &-#{$i} {
                background: #{$bgc} !important;
            }
        }
    }

}