.card-preview {
    margin: 0 auto 1px;
    cursor: pointer;
    box-shadow: 0 0 3px 0 black;
    width: 290px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    overflow: hidden;

    &:not(:last-of-type) {
        margin-block-end: 8px;
    }

    &:hover {
        background-color: #f4f5f7;
        border-bottom-color: rgba(9, 30, 66, .25);
    }

    .card-header {
        border-radius: 3px 3px 0 0;
        width: 100%;
        height: 20px;
    }

    .card-info {
        color: #172b4dd2;
        padding: 6px 8px 0;

        .label-marks {
            div {
                display: flex;
                justify-content: flex-start;
                min-height: 8px;
                width: 40px;
                border-radius: 4px;
                margin-inline-end: 8px;
                margin-block-end: 4px;
            }
        }

        .attachment {
            img {
                border-radius: 2px;
            }
        }
    }

    .icons {
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 5px 3px;

        i {
            margin-inline-end: 5px;
            padding: 6px;
            border-radius: 5px;
        }

        .card-membes {
            margin-inline-end: 5px;
        }

        >* {
            font-size: 0.8em;
            align-self: center;
            color: rgb(71, 71, 71);
            margin: 0 2px;
        }
    }
}