.group {
    width: 100%;
    max-width: 250px;
    padding: 10px 5px;
    margin: 10px;
    box-shadow: 0 0 2px 0 black;
    position: relative;
    overflow-y: auto;
    max-height: 750px;
    
    .group-edit{
        box-shadow: 0 0 2px 0 black;
        padding: 10px;
        position: absolute;
        right:15px;
        top: 50px;
        z-index: 1;
        background-color: rgb(241, 241, 241);
        width: 150px;
        height:200px;
        align-items: center;
    }

    .group-info{
        overflow-y: auto;
        margin-block-end: 10px;
    }
}